@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_NavTemplate.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container text-center" style="margin-top:15%">
        <hgroup>
            <h1>Access Denied</h1>
            <h2>You don't have permission to access this page</h2>
        </hgroup>
        <br />
        <a href="@Url.Action("Index", "Login")">Login as other account</a>
        <br />
        <a href="@Url.Action("Index", "Home")">Back to the home page</a>
    </div>
</body>
</html>
